Стандартная атмосфера
---
Формулы для вычисления стандартной атмосферы

Исходные данные, для выполнения работы.
В коментах написано что за что отвечает.
Менять переменные нужно только в блоке ниже, все остальное уже зависит от них

In [6]:
# Отклонение от стандартной атмосферы
H = 2000
detT = 15

Константы для вычислений

In [7]:
g0 = 9.80665
R = 287.05287
PR = 10.1972

Импорты для работы и функции для асиста

In [8]:
import pandas as pd

Таблицы с коэфициентами
(Функции, выдающие нам нужные для рассчетов значения, в зависимости от исходных данных)

In [9]:
def hg0(hg):
    if (0 <= hg and hg < 11000.0): return 0.0
    if (11000.0 <= hg and hg < 20000.0): return 11000.0
    if (20000.0 <= hg): return 20000.0

def t0(hg):
    if (0 <= hg and hg < 11000.0): return 288.15
    if (11000.0 <= hg and hg < 20000.0): return 216.65
    if (20000.0 <= hg): return 216.65

def p0(hg):
    if (0 <= hg and hg < 11000.0): return 1013.25
    if (11000.0 <= hg and hg < 20000.0): return 226.32
    if (20000.0 <= hg): return 54.7487


def b0(hg):
    if (0 <= hg and hg < 11000.0): return -0.0065
    if (11000.0 <= hg and hg < 20000.0): return 0.0
    if (20000.0 <= hg): return 0.001

pd.DataFrame([
    ["Hg 0", hg0(0), hg0(15000), hg0(30000)],
    ["T 0", t0(0), t0(15000), t0(30000)],
    ["P 0", p0(0), p0(15000), p0(30000)],
    ["B 0", b0(0), b0(15000), b0(30000)],], 
    columns=["Параметр", "Hg < 11000", "11000 <= Hg < 20000", "20000 <= Hg "],
)

  Параметр  Hg < 11000  11000 <= Hg < 20000  20000 <= Hg
0     Hg 0      0.0000             11000.00    20000.0000
1      T 0    288.1500               216.65      216.6500
2      P 0   1013.2500               226.32       54.7487
3      B 0     -0.0065                 0.00        0.0010

Вычисление параметров стандартной атмосферы
---
Под этим блоком выводятся все необходимые данные по атмосфере

In [10]:
from math import *

hg = (6356766.0 * H) / (6356766.0 + H)
detH = hg - hg0(hg)
T = t0(hg) + b0(hg)*detH + detT
P = p0(hg) * exp((-g0 * detH) / (R * t0(hg))) if (11000.0 <= hg and hg < 20000.0 ) else p0(hg)* pow(1 + b0(hg)/t0(hg)*detH, -g0 /(b0(hg)* R))
ro = (P * PR) / (R * T)
a = 20.046796 * sqrt(T)

pd.DataFrame([[H, detT, hg, detH, T, P, ro, a]], columns=["H", "detT", "hg", "detH", "T", "P", "ro", "a"])

,H,detT,hg,detH,T,P,ro,a
0,2000,15,1999.370947,1999.370947,290.154089,795.014111,0.097334,341.475318